@model Buscador.ViewModels.TipoDeServicoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TipoDeServicoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TrabalhadorId" class="control-label"></label>
                <select asp-for="TrabalhadorId" class="form-control" asp-items="ViewBag.TrabalhadorId"></select>
                <span asp-validation-for="TrabalhadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDoServico" class="control-label"></label>
                <input asp-for="NomeDoServico" class="form-control" />
                <span asp-validation-for="NomeDoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaProfissional" class="control-label"></label>
                <input asp-for="AreaProfissional" class="form-control" />
                <span asp-validation-for="AreaProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
