@model Buscador.ViewModels.TrabalhadorViewModel


<div class="form-group col-md-6">
    <label asp-for="TipoDeServico.NomeDoServico" class="control-label"></label>
    <input asp-for="TipoDeServico.NomeDoServico" class="form-control" />
    <span asp-validation-for="TipoDeServico.NomeDoServico" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="TipoDeServico.Descricao" class="control-label"></label>
    <input asp-for="TipoDeServico.Descricao" class="form-control" />
    <span asp-validation-for="TipoDeServico.Descricao" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="TipoDeServico.Imagem" class="control-label"></label>
    <input asp-for="TipoDeServico.Imagem" class="form-control" />
    <span asp-validation-for="TipoDeServico.Imagem" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="TipoDeServico.AreaProfissional" class="control-label"></label>
    <input asp-for="TipoDeServico.AreaProfissional" class="form-control" />
    <span asp-validation-for="TipoDeServico.AreaProfissional" class="text-danger"></span>
</div>