@model Buscador.Models.ViewModels.TrabalhadorViewModel


<div class="modal fade" id="excluirTrabalhador" tabindex="1" aria-labelledby="excluirTrabalhador" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="excluirTrabalhador">Exclusão de seus dados</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" x></span>
                </button>
            </div>
            <form asp-action="ExcluirTrabalhador" asp-route-id="@Model.Id">
                <div class="modal-body">
                    <h6>Você tem certeza que deseja excluir Seus dados?</h6>
                </div>
                <div class="modal-footer">
                    <div class="flex-row justify-content-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <input type="submit" value="Excluir" class="btn btn-outline-danger" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>