@model Buscador.Models.ViewModels.ClienteViewModel
@{
    ViewData["Title"] = "Atualizar Endereço";
}

<div class="modal-header">
    <h4 class="modal-title" aria-labelledby="exampleModalLabel">@ViewData["Title"]</h4>
    <button class="close" type="button" data-dismiss="modal">
        <span aria-hidden="true"x></span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="AtualizarEndereco">
    <div class="modal-body">
        <input type="hidden" asp-for="EnderecoCliente.ClienteId" />
        <input type="hidden" asp-for="EnderecoCliente.Id" />

        <partial name="_EnderecoCliente" />

        <div class="modal-footer">
            <div class="justify-content-end">
                <input type="button" value="Fechar" class="btn btn-info" data-dismiss="modal" />
                <input type="submit" value="Atualizar Endereço" class="btn btn-success" />
            </div>
        </div>
 
    </div>
</form>