@model Buscador.Models.ViewModels.ClienteViewModel

<div class="form-group col-md-6">
    <label asp-for="EnderecoCliente.Logradouro" class="control-label"></label>
    <input asp-for="EnderecoCliente.Logradouro" class="form-control Rua" />
    <span asp-validation-for="EnderecoCliente.Logradouro" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="EnderecoCliente.Numero" class="control-label"></label>
    <input asp-for="EnderecoCliente.Numero" class="form-control" />
    <span asp-validation-for="EnderecoCliente.Numero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoCliente.Complemento" class="control-label"></label>
    <input asp-for="EnderecoCliente.Complemento" class="form-control" />
    <span asp-validation-for="EnderecoCliente.Complemento" class="text-danger"></span>
</div>
<div class="form-group col-md-4">
    <label asp-for="EnderecoCliente.Bairro" class="control-label"></label>
    <input asp-for="EnderecoCliente.Bairro" class="form-control Bairro" />
    <span asp-validation-for="EnderecoCliente.Bairro" class="text-danger"></span>
</div>
<div class="form-group col-md-4">
    <label asp-for="EnderecoCliente.Cidade" class="control-label"></label>
    <input asp-for="EnderecoCliente.Cidade" class="form-control Municipio" />
    <span asp-validation-for="EnderecoCliente.Cidade" class="text-danger"></span>
</div>
<div class="form-group col-md-4">
    <label asp-for="EnderecoCliente.Estado" class="control-label"></label>
    <input asp-for="EnderecoCliente.Estado" class="form-control Uf" />
    <span asp-validation-for="EnderecoCliente.Estado" class="text-danger"></span>
</div>
           

