<div class="header">
    <div class="row no-gutters">
        <div class="col-auto d-none d-sm-block mt-1">
            <button class="btn btn-link menu-btn"><em class="mdi mdi-reorder-horizontal h3" aria-label="Menu"></em></button>
        </div>
        <div class="col text-center"><a asp-action="Index" asp-controller="Home"><img src="~/images/logo/portaldocidadao_logotxt_branco_horizontal.svg" class="header-logo" alt="Logótipo Portal do Cidadão" /></a></div>
        <div class="col-auto">
            <a href="#" id="theme-dark" class="btn btn-link position-relative mt-1"><em class="mdi mdi-brightness-6 h3" aria-label="Alto Contraste"></em></a>
            <a href="#" class="btn btn-link position-relative mt-1"><em class="mdi mdi-bell-outline h3" aria-label="Notificações"></em><span class="counts">9+</span></a>
        </div>
    </div>
</div>