<div class="footer-mobile d-md-none">
    <div class="no-gutters">
        <div class="col-auto mx-auto">
            <div class="row no-gutters justify-content-center">
                <div class="col-auto">
                    <a href="#" class="btn btn-link-default menu-btn">
                        <em class="mdi mdi-reorder-horizontal h3" aria-label="Menu"></em>
                    </a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-link-default">
                        <em class="mdi mdi-home h3" aria-label="Início"></em>
                    </a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Servico" asp-action="Index" class="btn btn-link-default">
                        <em class="mdi mdi-apps h3" aria-label="Servicos"></em>
                    </a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Trabalhadores" asp-action="Index" class="btn btn-link-default">
                        <em class="mdi mdi-cog h3" aria-label="Trabalhadores"></em>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>